[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/todo.txt"]
	path = pack/plugins/start/todo.txt
	url = https://github.com/freitass/todo.txt-vim.git
